@charset "utf-8";
/* CSS Document */
#contenu{
	margin-right: 10%;
	margin-left: 10%;
	padding: 20px;
	margin-top:30px;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
	
#mainnav ul {
	font-size:15px;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;  
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style-type: none;
}
#mainnav a {
	width: 16.6%;
	height:35px;
	line-height:35px;
	vertical-align:middle; 
	display:block;
	float: left;
	text-align:center;
	background-color: #4d4d4d;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 0px;
	padding-bottom: 3px;	
}
	

/* Couleur d'arrière-plan */

body{
	background-image:url(Images/Le%20mus%C3%A9e%201.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	color:#474747;
	font-family:snell roundhand, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	margin-top:20px;
	margin-bottom:50px;
	margin-right:30px;
	margin-left:30px;
	margin-top:Opx;
	margin-bottom:150px;
	padding-bottom:150px;
	text-align:justify;
	font-size:15px}
**Le style CSS à appliquer :**
<pre lang=`css`>html, body, #wrap {
    height: 100%;
}

body &gt; #wrap {
    height: auto; 
    min-height: 100%;
}

#main {
    padding-bottom: 150px;  /* MÊME TAILLE QUE LA HAUTEUR DU FOOTER !! */
}  

#mainnav a:hover, #mainnav a:active, #mainnav a:focus, #mainnav a.thispage {
	background-color: lightGray;
	color:black;
	text-decoration: none;
	padding-top:0px;
}

article1 {
	font-family: Comic Sans, Comic Sans MS, cursive;
	padding-top: 300px;
	margin-top: 10px;
	top: 100px;
	font-size: large;
	color: black;
}

article2 {
	font-family: Comic Sans, Comic Sans MS, cursive;
	text-align: center;
	padding-top: 0px;
	margin-top: 40px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	float: left;
	width : 350px;
	border-style: solid;
	border-width: medium;
	border-radius: 100px;
	border: solid LightSlateGray;
	color:black;
}

article3 {
	font-family: Comic Sans, Comic Sans MS, cursive;
	padding-top: 0px;
	margin-top: 40px;
	margin-right: 100px;
	float: right;
	width: 350px;
	border-radius: 100px;
	border-style: solid;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border: solid LightSlateGray;
	text-align: center;
	color:black;
	
}

article4 {
	font-family: Comic Sans, Comic Sans MS, cursive;
	text-align: center;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	margin-right: 250px;
	float: right;
	width: 350px;
	border: 3px solid LightSlateGray;
	border-radius: 100px;
	top: 0px;
	margin-top: 40px;
	color:black;
}

	
/* Pied de page */


/* Texte */

.quisommesnous, .notreprojet, .baladesetséjours, .produitsdérivés{color:#FF08EA;}


#accueil {
color:#1521A8;
font-size:40px;
position:relative
}

/* CONTACT */
#p1{
	float:left;
	width:33%;
	line-height:24px;
	margin-right:1%;}

#p2{
	float:left;
	width:32%;
	line-height:24px;
	margin-right:1%;}
	



/* Liens hypertextes */

a:link{
	color:#911CFF;
	text-decoration:none;
	font-style:italic;}

a:visited{
	font-style:normal;}

a:hover{
	color:#000000;}
	 

/* Les lettrines */



/*L'en-tête/bannière*/

#header a
{display: block;
height: 61px;
width: 222px;
}


footer {
	font-size: 13px;
	padding-top: 200px;
	color: LightSlateGray;
	text-align: center;
	bottom: 20px;
}
	
